
@media (max-width: 600px) {
  .task-card {
    padding: 15px !important;
    flex-direction: column !important; 
    text-align: center;
  }
  
  .task-card h2 {
    font-size: 1rem !important; 
  }
}